body {
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding: 5px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/021/039/592/non_2x/sunrise-with-yellow-sky-and-cloud-with-bright-light-in-morning-sunset-sky-on-springtime-horizon-golden-hours-with-orange-sky-in-evening-summer-beautiful-natural-banner-for-all-season-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   


.Header {
    background-color: rgb(225, 169, 57);
    text-align: right;
    padding: 5px;
    display: flex;
}

.Header img {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    
}

.navactive a {
    color: blue;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1500px;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1500px;
}
